<a href="https://colab.research.google.com/github/yipf1123/human_edu/blob/main/Python/230404%EC%84%9C%EC%9A%B8%EC%8B%9C%EB%B6%80%EB%8F%99%EC%82%B0%EC%8B%A4%EA%B1%B0%EB%9E%98%EA%B0%80%EC%A0%95%EB%B3%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 인증키

## XML API 신호 확인
- API가 정상적으로 불러오는지 확인을 해본다.

In [ ]:
import lxml
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time
import math


SERVICE_KEY = '564b7852646a686a34336f4f6c5571'
CNTRCT_DE = '20230302'
ACC_YEAR = '2023'
GU = '11500'

url = f'http://openapi.seoul.go.kr:8088/{SERVICE_KEY}/json/tbLnOpendataRtmsV/1/5/2022'

result = requests.get(url)
content = result.content
soup = BeautifulSoup(content, "lxml") # html.parser 
# print(soup)
print(soup.prettify())

<html>
 <body>
  <p>
   {"tbLnOpendataRtmsV":{"list_total_count":224406,"RESULT":{"CODE":"INFO-000","MESSAGE":"정상 처리되었습니다"},"row":[{"ACC_YEAR":"2022","SGG_CD":"11215","SGG_NM":"광진구","BJDONG_CD":"10500","BJDONG_NM":"자양동","LAND_GBN":"1","LAND_GBN_NM":"대지","BONBEON":"0860","BUBEON":"0000","BLDG_NM":"테라팰리스건대2차","DEAL_YMD":"20230216","OBJ_AMT":"105000","BLDG_AREA":75.03,"TOT_AREA":0.0,"FLOOR":17.0,"RIGHT_GBN":"","CNTL_YMD":"","BUILD_YEAR":"2018","HOUSE_TYPE":"아파트","REQ_GBN":"중개거래","RDEALER_LAWDNM":"서울 강남구"},{"ACC_YEAR":"2022","SGG_CD":"11680","SGG_NM":"강남구","BJDONG_CD":"10300","BJDONG_NM":"개포동","LAND_GBN":"1","LAND_GBN_NM":"대지","BONBEON":"1165","BUBEON":"0016","BLDG_NM":"칠성빌라나동","DEAL_YMD":"20230109","OBJ_AMT":"69000","BLDG_AREA":50.28,"TOT_AREA":41.77,"FLOOR":1.0,"RIGHT_GBN":"","CNTL_YMD":"","BUILD_YEAR":"1989","HOUSE_TYPE":"연립다세대","REQ_GBN":"중개거래","RDEALER_LAWDNM":"서울 강남구"},{"ACC_YEAR":"2022","SGG_CD":"11200","SGG_NM":"성동구","BJDONG_CD":"12200","BJDONG_NM":"용답동","LAND_GBN":"1","LAND_GBN_NM":"대지","BONBEON":"0238","BUBEON":"0012","BLDG_NM":"서희스타힐스리버파크","DEAL_YMD":"20230106","OBJ_AMT":"13500","BLDG_AREA":20.21,"TOT_AREA":27.28,"FLOOR":4.0,"RIGHT_GBN":"","CNTL_YMD":"","BUILD_YEAR":"2016","HOUSE_TYPE":"오피스텔","REQ_GBN":"중개거래","RDEALER_LAWDNM":"서울 광진구"},{"ACC_YEAR":"2022","SGG_CD":"11740","SGG_NM":"강동구","BJDONG_CD":"10900","BJDONG_NM":"천호동","LAND_GBN":"1","LAND_GBN_NM":"대지","BONBEON":"0167","BUBEON":"0153","BLDG_NM":"에코 타워빌","DEAL_YMD":"20230102","OBJ_AMT":"22500","BLDG_AREA":29.01,"TOT_AREA":38.62,"FLOOR":2.0,"RIGHT_GBN":"","CNTL_YMD":"","BUILD_YEAR":"2017","HOUSE_TYPE":"오피스텔","REQ_GBN":"중개거래","RDEALER_LAWDNM":"서울 강동구"},{"ACC_YEAR":"2022","SGG_CD":"11545","SGG_NM":"금천구","BJDONG_CD":"10100","BJDONG_NM":"가산동","LAND_GBN":"1","LAND_GBN_NM":"대지","BONBEON":"0535","BUBEON":"0055","BLDG_NM":"가산유미어스오피스텔","DEAL_YMD":"20221231","OBJ_AMT":"15000","BLDG_AREA":17.16,"TOT_AREA":26.19,"FLOOR":11.0,"RIGHT_GBN":"","CNTL_YMD":"","BUILD_YEAR":"2018","HOUSE_TYPE":"오피스텔","REQ_GBN":"중개거래","RDEALER_LAWDNM":"서울 금천구"}]}}
  </p>
 </body>
</html>

In [ ]:
years            = soup.find_all('acc_year')         # 접수년월
sgg_cds          = soup.find_all('sgg_cd')           # 자치구코드
sgg_nms          = soup.find_all('sgg_nm')           # 자치구명
bjdong_cds       = soup.find_all('bjdong_cd')        # 법정동코드
bjdong_nms       = soup.find_all('bjdong_nm')        # 법정동명
land_gbns        = soup.find_all('land_gbn')         # 지번구분
land_gbn_nms     = soup.find_all('land_gbn_nm')      # 지번구분명
land_gbn_nms     = soup.find_all('land_gbn_nm')      # 지번구분명
bonbeons         = soup.find_all('bonbeon')          # 본번
bubeons          = soup.find_all('bubeon')           # 부번
bldg_nms         = soup.find_all('bldg_nm')          # 건물명
deal_ymds        = soup.find_all('deal_ymd')         # 계약일
obj_amts         = soup.find_all('obj_amt')          # 물건금액(만원)
bldg_areas       = soup.find_all('bldg_area')        # 건물면적(㎡)
tot_areas        = soup.find_all('tot_area')         # 토지면적(㎡)
floors           = soup.find_all('floor')            # 층
right_gbns       = soup.find_all('right_gbn')        # 권리구분
cntl_ymds        = soup.find_all('cntl_ymd')         # 취소일
build_years      = soup.find_all('build_years')      # 건축년도
house_types      = soup.find_all('house_type')       # 건물용도
req_gbn          = soup.find_all('req_gbn')          # 신고구분
rdealer_lawdnms  = soup.find_all('rdealer_lawdnm')   # 신고한 개업공인중개사 시군구명

### 방법 1 - zip 활용
- 반복문을 작성하도록 한다.

In [ ]:
year_list           = []
sgg_cd_list         = []
bldg_nm_list        = []
obj_amt_list        = []
house_type_list     = []
rdealer_lawdnm_list = []

start_time = time.time()

for year, sgg_cd, bldg_nm, obj_amt, house_type, rdealer_lawdnm in zip(years, sgg_cds, bldg_nms, obj_amts, house_types, rdealer_lawdnms):
  year_list.append(year.get_text())
  sgg_cd_list.append(sgg_cd.get_text())
  bldg_nm_list.append(bldg_nm.get_text())
  obj_amt_list.append(obj_amt.get_text())
  house_type_list.append(house_type.get_text())
  rdealer_lawdnm_list.append(rdealer_lawdnm.get_text())

df = pd.DataFrame({
    "acc_year": year_list, 
    "sgg_cd": sgg_cd_list, 
    "bldg_nm" : bldg_nm_list,
    "obj_amt": obj_amt_list,
    "house_type" : house_type_list,
    "rdealer_lawdnm": rdealer_lawdnm_list
})

elapsed_time = time.time() - start_time

hours, remainder = divmod(elapsed_time, 3600)
minutes, seconds = divmod(remainder, 60)

print("Execution time: ", elapsed_time)
print("Execution time: {:02d}:{:02d}:{:02d}".format(int(hours), int(minutes), int(seconds)))

df

Execution time:  0.002432107925415039
Execution time: 00:00:00

Empty DataFrame
Columns: [acc_year, sgg_cd, bldg_nm, obj_amt, house_type, rdealer_lawdnm]
Index: []

### 방법 2 - 반복문 활용

In [ ]:
data = []

start_time = time.time()

for i in range(0,len(years)):
  rows = [years[i].get_text(),
          sgg_cds[i].get_text(), 
          bldg_nms[i].get_text(),
          obj_amts[i].get_text(),
          house_types[i].get_text(),
          rdealer_lawdnms[i].get_text()]
  data.append(rows)

cols = ['acc_year', 'sgg_cd', 'bldg_nm', 'obj_amt', 'house_type', 'rdealer_lawdnm']
df = pd.DataFrame(data, columns = cols)

elapsed_time = time.time() - start_time

hours, remainder = divmod(elapsed_time, 3600)
minutes, seconds = divmod(remainder, 60)

print("Execution time: ", elapsed_time)
print("Execution time: {:02d}:{:02d}:{:02d}".format(int(hours), int(minutes), int(seconds)))

df

Execution time:  0.010523319244384766
Execution time: 00:00:00

Empty DataFrame
Columns: [acc_year, sgg_cd, bldg_nm, obj_amt, house_type, rdealer_lawdnm]
Index: []

## JSON API 신호 확인
- JSON 방식의 코드를 불러오도록 한다.

In [ ]:
import lxml
import requests
from bs4 import BeautifulSoup
import pandas as pd

service_key = '564b7852646a686a34336f4f6c5571'
url = f'http://openapi.seoul.go.kr:8088/{service_key}/json/tbLnOpendataRtmsV/1/5/2022'

req = requests.get(url)
content = req.json()
content

{'tbLnOpendataRtmsV': {'list_total_count': 224406,
  'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'},
  'row': [{'ACC_YEAR': '2022',
    'SGG_CD': '11215',
    'SGG_NM': '광진구',
    'BJDONG_CD': '10500',
    'BJDONG_NM': '자양동',
    'LAND_GBN': '1',
    'LAND_GBN_NM': '대지',
    'BONBEON': '0860',
    'BUBEON': '0000',
    'BLDG_NM': '테라팰리스건대2차',
    'DEAL_YMD': '20230216',
    'OBJ_AMT': '105000',
    'BLDG_AREA': 75.03,
    'TOT_AREA': 0.0,
    'FLOOR': 17.0,
    'RIGHT_GBN': '',
    'CNTL_YMD': '',
    'BUILD_YEAR': '2018',
    'HOUSE_TYPE': '아파트',
    'REQ_GBN': '중개거래',
    'RDEALER_LAWDNM': '서울 강남구'},
   {'ACC_YEAR': '2022',
    'SGG_CD': '11680',
    'SGG_NM': '강남구',
    'BJDONG_CD': '10300',
    'BJDONG_NM': '개포동',
    'LAND_GBN': '1',
    'LAND_GBN_NM': '대지',
    'BONBEON': '1165',
    'BUBEON': '0016',
    'BLDG_NM': '칠성빌라나동',
    'DEAL_YMD': '20230109',
    'OBJ_AMT': '69000',
    'BLDG_AREA': 50.28,
    'TOT_AREA': 41.77,
    'FLOOR': 1.0,
    'RIGHT_GBN': '',
    'CNTL_YMD': '',
    'BUILD_YEAR': '1989',
    'HOUSE_TYPE': '연립다세대',
    'REQ_GBN': '중개거래',
    'RDEALER_LAWDNM': '서울 강남구'},
   {'ACC_YEAR': '2022',
    'SGG_CD': '11200',
    'SGG_NM': '성동구',
    'BJDONG_CD': '12200',
    'BJDONG_NM': '용답동',
    'LAND_GBN': '1',
    'LAND_GBN_NM': '대지',
    'BONBEON': '0238',
    'BUBEON': '0012',
    'BLDG_NM': '서희스타힐스리버파크',
    'DEAL_YMD': '20230106',
    'OBJ_AMT': '13500',
    'BLDG_AREA': 20.21,
    'TOT_AREA': 27.28,
    'FLOOR': 4.0,
    'RIGHT_GBN': '',
    'CNTL_YMD': '',
    'BUILD_YEAR': '2016',
    'HOUSE_TYPE': '오피스텔',
    'REQ_GBN': '중개거래',
    'RDEALER_LAWDNM': '서울 광진구'},
   {'ACC_YEAR': '2022',
    'SGG_CD': '11740',
    'SGG_NM': '강동구',
    'BJDONG_CD': '10900',
    'BJDONG_NM': '천호동',
    'LAND_GBN': '1',
    'LAND_GBN_NM': '대지',
    'BONBEON': '0167',
    'BUBEON': '0153',
    'BLDG_NM': '에코 타워빌',
    'DEAL_YMD': '20230102',
    'OBJ_AMT': '22500',
    'BLDG_AREA': 29.01,
    'TOT_AREA': 38.62,
    'FLOOR': 2.0,
    'RIGHT_GBN': '',
    'CNTL_YMD': '',
    'BUILD_YEAR': '2017',
    'HOUSE_TYPE': '오피스텔',
    'REQ_GBN': '중개거래',
    'RDEALER_LAWDNM': '서울 강동구'},
   {'ACC_YEAR': '2022',
    'SGG_CD': '11545',
    'SGG_NM': '금천구',
    'BJDONG_CD': '10100',
    'BJDONG_NM': '가산동',
    'LAND_GBN': '1',
    'LAND_GBN_NM': '대지',
    'BONBEON': '0535',
    'BUBEON': '0055',
    'BLDG_NM': '가산유미어스오피스텔',
    'DEAL_YMD': '20221231',
    'OBJ_AMT': '15000',
    'BLDG_AREA': 17.16,
    'TOT_AREA': 26.19,
    'FLOOR': 11.0,
    'RIGHT_GBN': '',
    'CNTL_YMD': '',
    'BUILD_YEAR': '2018',
    'HOUSE_TYPE': '오피스텔',
    'REQ_GBN': '중개거래',
    'RDEALER_LAWDNM': '서울 금천구'}]}}

### 데이터 추출
- 비교적 데이터는 깔끔한 편이다. 
- 간단하게 데이터를 추출할 수 있다. 
- 시간 측정을 해보도록 한다.

In [ ]:
cols = ['acc_year', 'sgg_cd', 'bldg_nm', 'obj_amt', 'house_type', 'rdealer_lawdnm']
cols_upper = [col.upper() for col in cols]

In [ ]:
contents = content['tbLnOpendataRtmsV']['row']
records = []

start_time = time.time()

for bldg in contents:
  datas = {}
  datas[cols[0]] = bldg[cols_upper[0]]
  datas[cols[1]] = bldg[cols_upper[1]]
  datas[cols[2]] = bldg[cols_upper[2]]
  datas[cols[3]] = bldg[cols_upper[3]]
  datas[cols[4]] = bldg[cols_upper[4]]
  datas[cols[5]] = bldg[cols_upper[5]]
  # datas[cols[6]] = bldg[cols[6]]
  records.append(datas)

df = pd.DataFrame(records)

elapsed_time = time.time() - start_time

hours, remainder = divmod(elapsed_time, 3600)
minutes, seconds = divmod(remainder, 60)

print("Execution time: ", elapsed_time)
print("Execution time: {:02d}:{:02d}:{:02d}".format(int(hours), int(minutes), int(seconds)))

df

Execution time:  0.0011920928955078125
Execution time: 00:00:00

  acc_year sgg_cd     bldg_nm obj_amt house_type rdealer_lawdnm
0     2022  11215   테라팰리스건대2차  105000        아파트         서울 강남구
1     2022  11680      칠성빌라나동   69000      연립다세대         서울 강남구
2     2022  11200  서희스타힐스리버파크   13500       오피스텔         서울 광진구
3     2022  11740      에코 타워빌   22500       오피스텔         서울 강동구
4     2022  11545  가산유미어스오피스텔   15000       오피스텔         서울 금천구